.complejo {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.contenedor {
    position: absolute;
    background-color: #0f0f0f;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arriba {
    top: 0;
    width: 100%;
    height: 12%;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    font-size: .9em;
    z-index: 20;
    justify-content: space-evenly !important;
}

.medio {
    top: 2%;
    width: 100%;
    height: 45%;
}

.abajo {
    bottom: 0;
    width: 100%;
    height: 62%;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    z-index: 10;
    flex-direction: column;
    font-size: .9em;
}

.cortina {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .6;
    z-index: 11;
}
