.home {
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.contenedor {
    position: absolute;
    background-color: #0f0f0f;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arriba {
    top: 0;
    width: 100%;
    height: 11%;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    z-index: 10;
}

.medio {
    top: 3%;
    width: 100%;
    height: 56%;
}

.abajo {
    bottom: 0;
    width: 100%;
    height: 48%;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    z-index: 10;
    align-items: center;
}

