.home {
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.contenedor {
    position: absolute;
    background-color: #0f0f0f;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arriba {
    top: 0;
    width: 100%;
    height: 12%;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    font-size: .9em;
    z-index: 20;
    justify-content: space-evenly !important;
}

.medio {
    top: 2%;
    width: 100%;
    height: 47%;
}

.abajo {
    bottom: 0;
    width: 100%;
    height: 60%;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    z-index: 10;
    align-items: center;
    flex-direction: column;
    font-size: .9em;
}

.menu {
    top: 7%;
    width: 20%;
    height: 8%;
    border-radius: 0 0 100px 100px;
    z-index: 20;
    color: #cccccc;
    align-items: end;
    padding: 0 0 2% 0;
    font-size: 1.1em;
}
.modificar {
    z-index: 19;
    top: 23%;
}

.menu_oculto {
    position: absolute;
    background-color: #1c1c1c;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 27%;
    top: 0;
    z-index: 19;
    border-radius: 0 0 30px 30px;
}

.cortina {
    width: 100%;
    height: 100vh;
    background-color: black;
    opacity: .6;
    z-index: 11;
}
