.contenedor_login {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #131313;
}

.contenedor_login>.formulario>form:nth-child(1) {
    margin-bottom: 20px;
}

/* // Media Queris */

@media screen and (min-width: 451px) {

    .contenedor_login {
        display: none;
    }
}