.contenedor_misreservas {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #131313;
    display: flex;
    justify-content: center;
    align-items: end;
}

.contenedor_misreservas > ion-icon {
    width: 110px;
    height: 110px;
    position: absolute;
    top: 15%;
    border-radius: 100px;
    color: #1e1e1e;
    background-color: #0a0a0a;
}

.contenedor_inferior {
    width: 100%;
    height: 78%;
    background-color: #0a0a0a;
    display: flex;
    flex-direction: column;
    padding: 70px 0 0 0;
}

.contenedor_informacion_ {
    display: flex;
    align-items: center;
    color: #6a6a6a;
    margin-top: 17px;
    margin-left: 13px;
}

.contenedor_informacion_ > ion-icon {
    font-size: 1.4em; 
    color: #ccccccb5;
    margin-right: 15px ;
}

.contenedor_informacion_ > p {
    font-size: .9em;
}

.contenedor_inferior > span, .con > span {
    width: 90%;
    height: 1px;
    margin-top: 13px;
    background-color: #ffffff2e;
    align-self: center;
}

.swiper_ {
    height: auto;
    margin-top: 40px;
}

.swiper-slide_ {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.swiper-button-prev, .swiper-button-next {
    transform: scale(.5);
    color: #ccccccb5;
}

.reserva {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.con {
    width: 230px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #131313;
    color: #6a6a6a;
    border-radius: 5px;
    align-self: center;
}

.con_div {
    width: 100%;
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
}

.con_div:first-child {
    margin-top: 0;
}

.boton_con {
    margin-top: 30px;
    align-self: center;
    background-color: #f10000 !important;
}

.sin {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 285px;
    height: 175px;
    color: #6a6a6a;
    font-size: 1.1em !important;
    font-weight: 200;
}
.sin > ion-icon {
    font-size: 2.5em;
    margin-bottom: 10px;
}
