.menu {
    top: 7%;
    width: 20%;
    height: 8%;
    border-radius: 0 0 100px 100px;
    z-index: 20;
    color: #cccccc;
    align-items: end;
    padding: 0 0 2% 0;
    font-size: 1.1em;
}
.modificar {
    z-index: 19;
    top: 23%;
}

.menu_oculto {
    position: absolute;
    background-color: #2b2b2b;
    color: #b1b1b1;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    flex-direction: column;
    width: 100%;
    height: 27%;
    padding-top: 25%;
    top: 0;
    z-index: 19;
    border-radius: 0 0 30px 30px;
    font-size: .9em;
}