.arriba > div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #8d8d8d87;
}

.arriba > div > p {
    margin-bottom: 2px;
}

.arriba > div > span {
    width: 40px !important;
    height: 2px;
    background-color: #8d8d8d87;
}

.elegido {
    color: #b8b8b8 !important;
}

.elegido > span {
    background-color: #b8b8b8 !important;
}