.reservas_contenedor {
    margin: 9px 0 17px 0;
    width: 280px;
    height: 175px;
    overflow-y: scroll;
    padding: 0 15px;
}

.con_reservas {
    width: 100%;
    height: 40.50px;
    margin-top: 5px;
    padding: 0 10px;
    font-weight: 200;
    border-radius: 15px;
    background-color: #303030;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cambiar_bordes {
    border-radius: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.con_reservas:first-child {
    margin-top: 0;
}

.con_reservas>ion-icon:first-child {
    font-size: 1.7em;
    color: #00d600d4
}

.con_reservas>ion-icon:last-child {
    font-size: 1.2em;
    color: #ffffffcf;
}

.desplegar {
    position: relative;
    width: 100%;
    height: 81px;
    font-size: .9em;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #5f5f5fc2;
    color: #b8b8b8;
    display: flex;
    flex-direction: column;
}

.desplegar_informacion {
    width: 100%;
    height: 50%;
    padding: 0 10px 0 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.desplegar_informacion>ion-icon {
    font-size: 1.7em;
    align-self: start;
}

.desplegar_informacion>div {
    display: flex;
    align-items: center;
    align-self: center;
    height: 100%;
}

.separador {
    margin: 0 4px;
}

.desplegar_fijar {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #303030;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.none {
    display: none;
}

.sin_reservas {
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 40px;
    color: #cccccc;
    opacity: .5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sin_reservas>p {
    margin-top: 10px;
    font-size: 1.1em !important;
    font-weight: 200;
}

.sin_reservas>ion-icon {
    font-size: 2.5em;
}